/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: black url("./assets/bg.png") no-repeat center;
  background-size: cover;
}

button {
  background-color: #ba0cc5;
  color: white;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 0.5em;
  font-weight: bold;
}

.navbar {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 1em 4em;
  text-align: center;
}

.line {
  border-right: white 1px solid;
  height: 2em;
  margin: 0 3em;
}

.grow-list {
  margin-right: auto;
}

.list {
  display: flex;
  list-style-type: none;
  gap: 2em;
  flex-wrap: wrap;
}

img[alt="logo"] {
  width: 80px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 8em auto;
}

.hero-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  margin-bottom: 0;
  color: white;
  text-align: center;
}

.hero-description {
  font-size: 1.4rem;
  margin-top: 0;
  color: white;
  font-weight: 500;
}

.button-large {
  font-size: 1.4rem;
  padding: 0.75em 1em;
  margin-top: 1.5em;
}

@media (max-width: 960px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .list {
    font-size: 1rem;
  }

  .grow-list {
    margin-right: 0;
  }

  .hero-heading {
    font-size: 2rem;
  }

  .hero-description {
    margin-top: 1em;
    font-size: 0.75rem;
  }

  .button-large {
    font-size: 0.75rem;
    padding: 0.75em 1em;
    margin-top: 1.5em;
  }

  .line {
    display: none;
  }
}
